# Git
.git
.gitignore

# Node
node_modules
npm-debug.log
build
dist

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Misc
.DS_Store
README.md
LICENSE 